/*
!.gitignore
!.bashrc
!.gitconfig
!arch-setup.sh
!.config/
.config/*

!.config/scripts/
.config/scripts/target/
.config/scripts/notifications/hypr-osd/target/
.config/scripts/notifications/hypr-osd/src/target/
!.config/wallpaper/
!.config/hypr/
!.config/waybar/
!.config/mako/
!.config/alacritty/
!.config/nvim/
!.config/nvim/**
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/uwsm/
!.config/systemd/
!.config/systemd/**
!.config/kanata/
!shelf/
!CLAUDE.md
!.claude/
.claude/*
!.claude/skills/
!.claude/skills/**
