#window {
    font-size: 19pt;
    border: none;
    border-radius: 1em;
    background-color: grey; /* Dark background */
    color: white; /* White text */
}


 #inner-box {
    background-color: grey;
    border-radius: 1em;
 }



